
<html>


<body>
<h1 style="color:red">This is a test for me</h1>

<b style="color:green">This is my <br>first Bold text---->and is yellow</b>
<br>

<i><b>This is a italic text</b></i>

<br>
<b>

<a href="http://facebook.com" style="color:blue">Facebook</a>

</b>
</body>

<br>
<%= link_to 'Go_To_About', about_path%>


</html>